{
  "swagger": "2.0",
  "info": {
    "title": "sasohae-admin",
    "description": "Description",
    "version": "1.0.0"
  },
  "host": "sasohae-admin.site",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/boards": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/boards/{board_id}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/gifts/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/gifts/{gift_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "gift_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "gift_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "giftTarget": {
                  "example": "any"
                },
                "giftEvent": {
                  "example": "any"
                },
                "sex": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                },
                "giftAnswerExpensive": {
                  "example": "any"
                },
                "giftAnswerPersonality": {
                  "example": "any"
                },
                "giftAnswerEmotional": {
                  "example": "any"
                },
                "giftAnswerTrendy": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "gift_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/gifts": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "giftName": {
                  "example": "any"
                },
                "giftTarget": {
                  "example": "any"
                },
                "giftEvent": {
                  "example": "any"
                },
                "sex": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                },
                "giftAnswerExpensive": {
                  "example": "any"
                },
                "giftAnswerPersonality": {
                  "example": "any"
                },
                "giftAnswerEmotional": {
                  "example": "any"
                },
                "giftAnswerTrendy": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/menus": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "menuName": {
                  "example": "any"
                },
                "menuType": {
                  "example": "any"
                },
                "menuStyle": {
                  "example": "any"
                },
                "menuWith": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/menus/{menu_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "menuType": {
                  "example": "any"
                },
                "menuStyle": {
                  "example": "any"
                },
                "menuWith": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/giftQuestions": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "giftQuestion": {
                  "example": "any"
                },
                "giftQuestionType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/giftQuestions/{giftQuestion_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "giftQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "giftQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "giftQuestion": {
                  "example": "any"
                },
                "giftQuestionType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "giftQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin/{admin_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "admin_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "admin_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "adminPosition": {
                  "example": "any"
                },
                "adminName": {
                  "example": "any"
                },
                "adminNickname": {
                  "example": "any"
                },
                "master_id": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "admin_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/sign-up": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "adminPosition": {
                  "example": "any"
                },
                "adminName": {
                  "example": "any"
                },
                "adminNickname": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin/password/initialize": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "adminPosition": {
                  "example": "any"
                },
                "adminName": {
                  "example": "any"
                },
                "adminNickname": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/admin/password/change/{admin_id}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "admin_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/auth": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/moneyQuestions": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "moneyQuestion_id": {
                  "example": "any"
                },
                "moneyQuestion": {
                  "example": "any"
                },
                "positiveAnswerQuestion": {
                  "example": "any"
                },
                "negativeAnswerQuestion": {
                  "example": "any"
                },
                "positiveChangeValue": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/moneyQuestions/{moneyQuestion_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "moneyQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "moneyQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "moneyQuestion": {
                  "example": "any"
                },
                "positiveAnswerQuestion": {
                  "example": "any"
                },
                "negativeAnswerQuestion": {
                  "example": "any"
                },
                "positiveChangeValue": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "moneyQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/statistics": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/user": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/giftStatistics": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/menuStatistics": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/giftQuestionsList": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/giftQuestionsInsert": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/giftQuestions/{giftQuestion_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "giftQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/giftList": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/giftInsert": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/gifts/{gift_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "gift_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/menuList": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/menuInsert": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/menuDetail/{menu_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/moneyQuestionsList": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/moneyQuestionsInsert": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/moneyQuestions/{moneyQuestion_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "moneyQuestion_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/boardList": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/adminList": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/adminInsert": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/adminDetail/{admin_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "admin_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/login": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/password": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/mypage/{admin_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "admin_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    }
  }
}