<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include ('common') %>
        <title>Admin - Sasohae Admin</title>
        <script src="../public/js/adminDetail.js"></script>
        <style>
            label {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .btn {
                font-weight: 600;
            }

            .form-horizontal {
                display: block;
                margin: auto;
            }

            .form-group {
                margin-bottom: 20px;
            }

            .checkbox-inline {
                margin-right: 20px;
            }

            .col-sm-2 {
                font-weight: bold;
                white-space: nowrap;
                margin: 10px 30px 10px 0px;
            }
        </style>

</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">관리자 상세</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE MANAGER</li>
                        </ol>
                        <div class="card mb-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="adminName" class="col-sm-2 control-label">직급 : </label>
                                    <input type="radio" name="titleRadios" style="margin-right:10px;"
                                        value="senior">Senior
                                    <input type="radio" name="titleRadios" style="margin-right:10px;"
                                        value="junior">Junior
                                    <input type="radio" name="titleRadios" style="margin-right:10px;"
                                        value="guest">Guest
                                </div>
                                <div class="form-group">
                                    <label for="adminName" class="col-sm-2 control-label">이름 : </label>
                                    <input type="input" class="form-control" id="adminName"
                                        style="width: 400px; display:inline" placeholder="이름을 입력해주세요" disabled="true">
                                </div>
                                <div class="form-group">
                                    <label for="adminNickname" class="col-sm-2 control-label">아이디 : </label>
                                    <input type="input" class="form-control" id="adminNickname"
                                        style="width: 400px; display:inline" placeholder="아이디를 입력해주세요" disabled="true">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">비밀번호 : </label>
                                    <input type="password" class="form-control" id="password"
                                        style="width: 400px; display:inline" placeholder="비밀번호를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <label for="passwordConfirm" class="col-sm-2 control-label">비밀번호 재확인 : </label>
                                    <input type="password" class="form-control" id="passwordConfirm"
                                        style="width: 400px; display:inline" placeholder="비밀번호를 다시 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div>
                                            <button type="button" class="btn btn-success" onclick="updateAdmin()"
                                                style="margin-right: 50px; margin-top: 30px; background-color: rgb(32, 92, 4);border-color: rgb(32, 92, 4);">수정하기</button>
                                            <button type="button" class="btn btn-warning" onclick="goToList()"
                                                style="margin-top: 30px">취소하기</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
                <%- include ('layoutFooter') %>
            </div>
</body>

</html>