<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>AdminManagement - Sasohae Admin</title>
        <link
            href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
            rel="stylesheet"/>
        <link href="../public/css/styles.css" rel="stylesheet"/>
        <link
            href="https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap"
            rel="stylesheet">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>

        <style>
            body,
            button,
            input,
            textarea {
                font-family: 'Noto Sans KR', sans-serif;
            }
            td {
                font-size: medium;
            }
            .add {
                color: green !important;
            }
            .delete {
                color: red !important;
            }
            .button.add {
                background-color: green;
                border-color: transparent;
                color: #fff !important;
                display: inline-block;
                margin-left: auto;
                margin-top: 20px;
                margin-right: 20px;
                width: 200px;
                border-radius: inherit;
            }
            .button.add.is-outlined {
                background-color: transparent;
                border-color: orange;
                color: orange !important;
            }
            .card-body {
                text-align: center;
            }
            .dataTable-sorter {
                text-align: center;
                font-size: medium;
            }
        </style>

        <script type="text/javascript">
            function moveToInsert() {
                location.href = "adminInsert";
            }

             function moveToDetail() {
                location.href = "adminDetail";
            }

            function deleteItem() {
                alert("정말로 삭제하시겠습니까?")
            }
        </script>

    </head>

    <body class="sb-nav-fixed">
        <%- include('layoutHeader') %>

            <!-- side bar start -->
            <div id="layoutSidenav"></div>
            <%- include ('layoutBody') %>
                <!-- side bar end -->

                <!-- 페이지에 알맞게 수정 필요 시작 -->

                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">관리자 페이지</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">SASOHAE MANAGER</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    관리자 리스트
                                </div>
                                <button class="level-item button add" onclick="moveToInsert()"
                                    style="background-color: rgb(32, 92, 4);border-color: rgb(32, 92, 4);">등록하기</button>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>직급</th>
                                                <th>아이디</th>
                                                <th>이름</th>
                                                <th>상세</th>
                                                <th>삭제</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>No</th>
                                                <th>직급</th>
                                                <th>아이디</th>
                                                <th>이름</th>
                                                <th>상세</th>
                                                <th>삭제</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>master</td>
                                                <td>bestmaster</td>
                                                <td>이동호</td>
                                                <td style="cursor:pointer;" onClick="moveToDetail()">상세페이지</td>
                                                <td><input type="button" id="delete" onClick="deleteItem()" class="btn btn-outline-primary" value="삭제"></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>junior</td>
                                                <td>bestjunior</td>
                                                <td>이성진</td>
                                                <td style="cursor:pointer;" onClick="moveToDetail()">상세페이지</td>
                                                <td><input type="button" id="delete" onClick="deleteItem()" class="btn btn-outline-primary" value="삭제"></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>guestzzang</td>
                                                <td>guest</td>
                                                <td>배은지</td>
                                                <td style="cursor:pointer;" onClick="moveToDetail()">상세페이지</td>
                                                <td><input type="button" id="delete" onClick="deleteItem()" class="btn btn-outline-primary" value="삭제"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>

                    <!-- 페이지에 알맞게 수정 필요 끝 -->

                </body>

                <footer>

                    <%- include ('layoutFooter') %>

                    </footer>

                    <script
                        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                        crossorigin="anonymous"></script>
                    <script src="../public/js/scripts.js"></script>
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
                        crossorigin="anonymous"></script>
                    <script src="../public/assets/demo/chart-area-demo.js"></script>
                    <script src="../public/assets/demo/chart-bar-demo.js"></script>
                    <script
                        src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
                        crossorigin="anonymous"></script>
                    <script src="../public/js/datatables-simple-demo.js"></script>

                </html>