<!DOCTYPE HTML>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <%- include ('common') %>
        <title>AdminManagement - Sasohae Admin</title>
        <script src="../public/js/adminList.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <style>
            body,
            button,
            input,
            textarea {
                font-family: 'Noto Sans KR', sans-serif;
            }

            td {
                font-size: medium;
            }

            .add {
                color: green !important;
            }

            .delete {
                color: red !important;
            }

            .button.add {
                background-color: green;
                border-color: transparent;
                color: #fff !important;
                display: inline-block;
                margin-left: auto;
                margin-top: 20px;
                margin-right: 20px;
                width: 200px;
                border-radius: inherit;
            }

            .listPageBtn {
                text-align: right;
                border-radius: 10px;
                margin-bottom: 15px;
            }

            .button.add.is-outlined {
                background-color: transparent;
                border-color: orange;
                color: orange !important;
            }

            .card-body {
                text-align: center;
            }

            .dataTable-sorter {
                text-align: center;
                font-size: medium;
            }
        </style>

</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">관리자 페이지</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE MANAGER</li>
                        </ol>
                        <div class="listPageBtn">
                            <img src="../public/assets/img/addAdminBtn.png" onclick="moveToInsert()" width="50px"
                                style="cursor:pointer; margin-right: 15px;">
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                관리자 리스트
                            </div>

                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>직급</th>
                                            <th>아이디</th>
                                            <th>이름</th>
                                            <th>상세</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>직급</th>
                                            <th>아이디</th>
                                            <th>이름</th>
                                            <th>상세</th>
                                            <th>삭제</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="adminTable">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
</body>
<%- include ('layoutFooter') %>

</html>