<!DOCTYPE HTML>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <%- include ('common') %>
        <title>BOARDS - Sasohae Admin</title>
        <script src="../public/js/boardList.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <style>
            body,
            button,
            input,
            textarea {
                font-family: 'Noto Sans KR', sans-serif;
            }

            td {
                font-size: medium;
            }

            .add {
                color: green !important;
            }

            .delete {
                color: red !important;
            }

            .button.add {
                background-color: green;
                border-color: transparent;
                color: #fff !important;
                display: inline-block;
                margin-left: auto;
                margin-top: 20px;
                margin-right: 20px;
                width: 200px;
                border-radius: inherit;
            }

            .button.add.is-outlined {
                background-color: transparent;
                border-color: orange;
                color: orange !important;
            }

            .card-body {
                text-align: center;
            }

            .dataTable-sorter {
                text-align: center;
                font-size: medium;
            }
        </style>

</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">게시판 관리 페이지</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE BOARDS</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                게시글 리스트
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th width="5%">No</th>
                                            <th width="40%">내용</th>
                                            <th width="30%">작성일</th>
                                            <th width="15%">블라인드</th>
                                            <th width="10%">삭제</th>
                                        </tr>
                                    </thead>

                                    <tbody id="boardList">

                                    </tbody>
                                </table>
                                <div id="paging"></div>
                            </div>
                        </div>
                    </div>
                </main>
</body>
<%- include ('layoutFooter') %>

</html>