<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - Sasohae Admin</title>
    <link href="../public/assets/img/UI_brand_fivicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="../public/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../public/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.min.js"
        integrity="sha512-qa1o08MA0596eSNsnkRv5vuGloSKUhY09O31MY2OJpODjUVlaL0GOJJcyt7J7Z61FiEgHMgBkH04ZJ+vcuLs/w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    
    <style>
        body,
        button,
        input,
        textarea {
            font-family: 'Noto Sans KR', sans-serif;
        }

        td {
            font-size: medium;
        }

        .dataTable-sorter {
            text-align: center;
            font-size: medium;
        }
    </style>

</head>

<body class="sb-nav-fixed">
    <%- include ('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">사.소.해📊 대시보드</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE DASHBOARD</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">선물목록 서비스 관리</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/giftList">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">메뉴목록 서비스 관리</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/menuList">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">축의금 서비스 관리</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/moneyQuestionsList">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">게시판 서비스 관리</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/boardList">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        <span id='dayChartText'>일별 방문자 수</span>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="dayChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('dayChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('dayChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        시간대별 방문자 수
                                    </div>
                                    <div class="card-body">
                                        <canvas id="timeChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('timeChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('timeChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        각 기능별 사용자 수
                                    </div>
                                    <div class="card-body">
                                        <canvas id="statisticsChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('statisticsChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('statisticsChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie me-1"></i>
                                        주요 4가지 기능별 사용자 수
                                    </div>
                                    <div class="card-body">
                                        <canvas id="userChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('userChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('userChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie me-1"></i>
                                        선물추천기능 사용자 비교 (설문 : 랜덤)
                                    </div>
                                    <div class="card-body">
                                        <canvas id="giftUserChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('giftUserChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('giftUserChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie me-1"></i>
                                        고민게시판 방문자 중 게시글 작성자 비율
                                    </div>
                                    <div class="card-body">
                                        <canvas id="boardUserChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('boardUserChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('boardUserChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        선물추천 수 top 20
                                    </div>
                                    <div class="card-body">
                                        <canvas id="giftChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('giftChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('giftChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        메뉴추천 수 top 20
                                    </div>
                                    <div class="card-body">
                                        <canvas id="menuChart" width="100%" height="40"></canvas>
                                        <!-- <button onclick="downloadPDF('menuChart')">Export PDF</button> -->
                                        <img src="../public/assets/img/pdfBtn.png" onclick="downloadPDF('menuChart')" width="50px" style="cursor:pointer;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- footer start -->
                <footer>
                    <%- include ('layoutFooter') %>
                </footer>
                <!-- footer start -->
            </div>
            <script src="../public/js/chart.js"></script>
</body>

</html>