<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include ('common') %>
        <title>Gifts - Sasohae Admin</title>
        <script src="../public/js/gifts.js"></script>
        <style>
            label {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .btn {
                font-weight: 600;
            }

            .form-horizontal {
                display: block;
                margin-top: 50px;
                margin-bottom: 50px;
                margin-left: 50px;
            }

            .form-group {
                margin-bottom: 20px;
            }

            .checkbox-inline {
                margin-right: 20px;
            }

            .col-sm-2 {
                font-weight: bold;
            }
        </style>
        
</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">선물 등록</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE GIFTS</li>
                        </ol>
                        <div class="card mb-4">
                            <form class="form-horizontal" id="formId">
                                <div class="gift-group">
                                    <div class="form-group">
                                        <label for="giftName" class="col-sm-2 control-label">선물이름 : </label>
                                        <input type="input" class="form-control" id="giftName"
                                            style="width: 400px; display:inline" placeholder="선물이름">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="imgFile" class="col-sm-2 control-label">이미지 파일 : </label>
                                            <label for="exampleInputFile">파일 업로드</label>
                                            <input type="file" id="imgFile">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="giftTarget" class="col-sm-2 control-label">선물타겟 : </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                 id="giftTargetCheckboxAll" value="*" onclick="IsCheckAllChecked(this.name)"> 전체
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox1" value="1" onclick="chkboxAllChecked(this.name)" > 부모님
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox2" value="2" onclick="chkboxAllChecked(this.name)"> 친구
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox3" value="3" onclick="chkboxAllChecked(this.name)"> 연인
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox4" value="4" onclick="chkboxAllChecked(this.name)"> 선생님
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox5" value="5" onclick="chkboxAllChecked(this.name)"> 교수님
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox6" value="6" onclick="chkboxAllChecked(this.name)"> 직장선배
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox7" value="7" onclick="chkboxAllChecked(this.name)"> 선후배
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" name="giftTarget"
                                                id="giftTargetCheckbox8" value="8" onclick="chkboxAllChecked(this.name)"> 구연인
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="giftEvent" class="col-sm-2 control-label">선물목적 : </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckboxAll" name="giftEvent" value="*" onclick="IsCheckAllChecked(this.name)">
                                            전체 (하찮은 선물 X)
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox1" name="giftEvent" value="1" onclick="chkboxAllChecked(this.name)">
                                            생일
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox2" name="giftEvent" value="2" onclick="chkboxAllChecked(this.name)">
                                            연인기념일
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox3" name="giftEvent" value="3" onclick="chkboxAllChecked(this.name)">
                                            결혼기념일
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox4" name="giftEvent" value="4" onclick="chkboxAllChecked(this.name)">
                                            합격
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox5" name="giftEvent" value="5" onclick="chkboxAllChecked(this.name)">
                                            입학
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox6" name="giftEvent" value="6" onclick="chkboxAllChecked(this.name)">
                                            졸업
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox7" name="giftEvent" value="7" onclick="chkboxAllChecked(this.name)">
                                            집들이
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox8" name="giftEvent" value="8" onclick="chkboxAllChecked(this.name)">
                                            명절
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="eventChk" id="giftEventCheckbox9" name="giftEvent" value="9" onclick="chkboxAllChecked(this.name)">
                                            하찮은 선물
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label for="sex" class="col-sm-2 control-label">성별 : </label>
                                            <label>
                                                <input type="radio" name="sexRadios" id="sexRadiosAll"
                                                    style="margin-right:5px;" value="*" checked> 전체
                                            </label>
                                            <label>
                                                <input type="radio" name="sexRadios" id="sexRadios1"
                                                    style="margin-right:5px;" value="M"> 남
                                            </label>
                                            <label>
                                                <input type="radio" name="sexRadios" id="sexRadios2"
                                                    style="margin-right:5px;" value="W"> 여
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="age" class="col-sm-2 control-label">연령대 : </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="ageChk" id="ageCheckboxAll" name="age" value="*" onclick="IsCheckAllChecked(this.name)"> 전체
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="ageChk" id="ageCheckbox1" name="age" value="20" onclick="chkboxAllChecked(this.name)"> 20대
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="ageChk" id="ageCheckbox2" name="age" value="30" onclick="chkboxAllChecked(this.name)"> 30대
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="ageChk" id="ageCheckbox3" name="age" value="40" onclick="chkboxAllChecked(this.name)"> 40대
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="ageChk" id="ageCheckbox4" name="age" value="50" onclick="chkboxAllChecked(this.name)"> 50대
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="ageChk" id="ageCheckbox5" name="age" value="60" onclick="chkboxAllChecked(this.name)"> 60대
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="expensive" class="col-sm-2 control-label">Expensive : </label>
                                        <div class="expensiveSelect" style="width:50%; display: inline-block;">
                                            <select name="expensive" id="expensive" data-mini="true">
                                                <option value="*">전체</option>
                                                <option value="T">True</option>
                                                <option value="F">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="personality" class="col-sm-2 control-label">Personality : </label>
                                        <div class="personalitySelect" style="width:50%; display: inline-block;">
                                            <select name="personality" id="personality" data-mini="true">
                                                <option value="*">전체</option>
                                                <option value="T">True</option>
                                                <option value="F">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emotional" class="col-sm-2 control-label">Emotional : </label>
                                        <div class="emotionalSelect" style="width:50%; display: inline-block;">
                                            <select name="emotional" id="emotional" data-mini="true">
                                                <option value="*">전체</option>
                                                <option value="T">True</option>
                                                <option value="F">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="trendy" class="col-sm-2 control-label">Trendy : </label>
                                        <div class="trendySelect" style="width:50%; display: inline-block;">
                                            <select name="trendy" id="trendy" data-mini="true">
                                                <option value="*">전체</option>
                                                <option value="T">True</option>
                                                <option value="F">False</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div>
                                                <button type="button" class="btn btn-success" onclick="insertInfo()"
                                                    style="margin-right: 50px; margin-top: 30px; background-color: rgb(32, 92, 4);border-color: rgb(32, 92, 4);">등록하기</button>
                                                <button type="button" class="btn btn-warning" onclick="backToList()"
                                                    style="margin-top: 30px">취소하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
</body>
<%- include ('layoutFooter') %>

</html>