<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GiftQuestions - Sasohae Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="../public/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <style>
        label { font-family: 'Noto Sans KR', sans-serif; }
        .btn { font-weight: 600; }
        .form-horizontal {
            display: block;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 50px;
        }
        .form-group { margin-bottom: 20px; }
        .checkbox-inline { margin-right: 20px; }
        .col-sm-2 { font-weight: bold; }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
                getSelectedGift();
                targetAllChkClicked();
                eventAllChkClicked();
                ageAllChkClicked();  
        });

        // 선물 상세
        function getSelectedGift(gift_id) {
            const param = document.location.href.split("/");
            // console.log("param: " + param) // http:,,localhost:3000,gifts,16
            gift_id = param[4];
            $("#giftList").empty()

            $.ajax({
                type: "GET",
                url: `/api/gifts/${gift_id}`,
                data: {},
                error: function (xhr, status, error) {
                    if (status == 404) {
                        alert("존재하지 않는 항목입니다.");
                    }
                    location.href = "/giftList";
                },
                success: function (selectedGift) {
                    // 질문 타입 radio 입력
                    const name = selectedGift.giftName;
                    const url = selectedGift.giftUrl;
                    const target = selectedGift.giftTarget;
                    const event = selectedGift.giftEvent;
                    const sex = selectedGift.sex;
                    const age = selectedGift.age;
                    const expensive = selectedGift.giftAnswerExpensive;
                    const personality = selectedGift.giftAnswerPersonality;
                    const emotional = selectedGift.giftAnswerEmotional;
                    const trendy = selectedGift.giftAnswerTrendy;

                    $("#giftName").val(name);

                    let htmlTemp = ` <div class="form-group">
                                        <div class="form-group">
                                            <label for="file" class="col-sm-2 control-label">이미지 파일 : </label>
                                            <img src="${url}" width="80px">
                                        </div> 
                                    </div>`
                    $("#imgFile").append(htmlTemp)  

                    // 선물타겟 체크박스 (*제외 후 항목 8개)
                    for(let i=0; i < target.length; i++) {
                        const value=["1", "2", "3", "4", "5", "6", "7", "8"]
                        for (let j = 0; j < 8; j++) {
                            if(target[i] == value[j]) {
                                $("#giftTargetCheckbox" + target[i]).prop("checked", true);
                            } else if (target[i] == "*") {
                                $("#giftTargetCheckboxAll").prop("checked", true);
                            }     
                        }                                              
                    }
                    // 선물목적 체크박스 (*제외 후 항목 9개)
                    for (let i = 0; i < event.length; i++) {
                        const value = ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
                        for(let j = 0; j <9; j++) {
                            if (event[i] == value[j]) {
                                $("#giftEventCheckbox" + event[i]).prop("checked", true);
                            } else if (event[i] == "*") {
                                $("#giftEventCheckboxAll").prop("checked", true);
                            }   
                        }                     
                    }
                    // 성별
                    if (sex == "*") {
                        $("#sexRadiosAll").prop("checked", true);
                    } else if (sex == "M") {
                        $("#sexRadios1").prop("checked", true);
                    } else if (sex == "W") {
                        $("#sexRadios2").prop("checked", true);
                    }                   
                    // 연령대 (*제외 항목 5개)
                    for (let i = 0; i < age.length; i++) {
                        const value = ["20", "30", "40", "50", "60"]
                        for (let j = 0; j < 5; j++) {
                            if (age[i] == value[j]) {
                                $("#ageCheckbox" + String(Number(age[i].split("")[0])-1)).prop("checked", true);
                            } else if (age[i] == "*") {
                                $("#ageCheckboxAll").prop("checked", true);
                            }
                        }
                    }      
                    // 설문에 대한 답변 부분
                    const surveryAnswerList = ["expensive", "personality", "emotional", "trendy"]
                    for(let i = 0; i < surveryAnswerList.length; i++) {
                        if(surveryAnswerList[i] == "*") {
                            $("#" + surveryAnswerList[i]).val("*", true);
                        } else if (surveryAnswerList[i] == "T") {
                            $("#" + surveryAnswerList[i]).val("T", true);
                        } else if (surveryAnswerList[i] == "F") {
                            $("#" + surveryAnswerList[i]).val("F", true);
                        }
                    }

                }
            });
        }
        // 선물타겟 체크박스 전체 선택 시 
        function targetAllChkClicked() { 
            $("#giftTargetCheckboxAll").click(function(){
                if( $("#giftTargetCheckboxAll").is(":checked", true) ) {
                    for(let i = 0; i < 9; i++) {
                        $("#giftTargetCheckbox" + i).prop("checked", false)
                        $("#giftTargetCheckbox" + i).prop("disabled", true);
                    }                    
                } else {
                    for (let i = 0; i < 9; i++) {
                        $("#giftTargetCheckbox" + i).prop("disabled", false);
                    }  
                }
            });
        }
        // 선물목적 체크박스 전체 선택 시 
        function eventAllChkClicked() {
            $("#giftEventCheckboxAll").click(function () {
                if ( $("#giftEventCheckboxAll").is(":checked", true) ) {
                    for (let i = 0; i < 10; i++) {
                        $("#giftEventCheckbox" + i).prop("checked", false)
                        $("#giftEventCheckbox" + i).prop("disabled", true);
                    }
                } else {
                    for (let i = 0; i < 10; i++) {
                        $("#giftEventCheckbox" + i).prop("disabled", false);
                    }
                }
            });
        }
        // 연령대 체크박스 전체 선택 시 
        function ageAllChkClicked() {
            $("#ageCheckboxAll").click(function () {
                if ( $("#ageCheckboxAll").is(":checked", true) ) {
                    for (let i = 0; i < 10; i++) {
                        $("#ageCheckbox" + i).prop("checked", false);
                        $("#ageCheckbox" + i).prop("disabled", true);
                    }
                } else {
                    for (let i = 0; i < 10; i++) {
                        $("#ageCheckbox" + i).prop("disabled", false);
                    }
                }
            })
        }

        function reviseInfo() {
            // gift_id 가져옴
            const param = document.location.href.split("/");
            const gift_id = param[4];

            if (confirm("수정하시겠습니까?") == true) {  
            } else {
                return false;
            }

            // 선물타겟 value 확인 및 체크박스 미선택에 대한 알림
            const targetChkArr = [];
            let targetChkCnt = 0;
            const targetChkBox = $(".targetChk");
            for (let i = 1; i <= targetChkBox.length; i++) { // 1부터->전체(*) 제외하고 들어감
                if ($("#giftTargetCheckbox" + i).is(":checked", true))  { 
                    result = String($("#giftTargetCheckbox" + i).val());
                    targetChkArr.push(result);
                    targetChkCnt++;
                } else if ($("#giftTargetCheckboxAll").is(":checked", true)) {
                    targetChkArr.push("*");
                    targetChkCnt++;
                    break;
                }         
            }
            if (targetChkCnt == 0) {
                alert("선물타겟을 체크해 주세요!")
                return false;
            }

            // 선물목적 value 확인 및 체크박스 미선택에 대한 알림
            const eventChkArr = [];
            let eventChkCnt = 0;
            const eventChkBox = $(".eventChk");
            for (let i = 1; i <= eventChkBox.length; i++) { 
                if ($("#giftEventCheckbox" + i).is(":checked", true)) {
                    result = String($("#giftEventCheckbox" + i).val());
                    eventChkArr.push(result);
                    eventChkCnt++;
                } else if ($("#giftEventCheckboxAll").is(":checked", true)) {
                    eventChkArr.push("*");
                    eventChkCnt++;
                    break;
                }           
            }
            if (eventChkCnt == 0) {
                alert("선물목적을 체크해 주세요!")
                return false;
            }

             // 연령대 value 확인 및 체크박스 미선택에 대한 알림
            const ageChkArr = [];
            let ageChkCnt = 0;
            const ageChkBox = $(".ageChk");
            for (let i = 1; i <= ageChkBox.length; i++) { 
                if ($("#ageCheckbox" + i).is(":checked", true)) {
                    result = String($("#ageCheckbox" + i).val());
                    ageChkArr.push(result);
                    ageChkCnt++;
                } else if ($("#ageCheckboxAll").is(":checked", true)) {
                    ageChkArr.push("*");
                    ageChkCnt++;
                    break;
                }               
            }
            if (ageChkCnt == 0) {
                alert("연령대를 체크해 주세요!")
                return false;
            }

            // 성별
            let sex = "";
            const radioLength = document.getElementsByName("sexRadios").length;
            for (let i = 0; i < radioLength; i++) {
                if (document.getElementsByName("sexRadios")[i].checked == true) {
                    sex = (document.getElementsByName("sexRadios")[i].value);
                }
            }
            
            expensive = $("#expensive").val();
            personality = $("#personality").val();
            emotional = $("#emotional").val();
            trendy = $("#trendy").val();

            $.ajax({
                type: "PUT",
                url: `/api/gifts/${gift_id}`,
                traditional: true,
                data: {
                    giftTarget: targetChkArr,
                    giftEvent: eventChkArr,
                    sex: sex,
                    age: ageChkArr,
                    giftAnswerExpensive: expensive,
                    giftAnswerPersonality: personality,
                    giftAnswerEmotional: emotional,
                    giftAnswerTrendy: trendy,
                },
                success: function (response) {
                    alert("성공적으로 변경되었습니다.")
                    location.href = location.href
                    history.go(0);
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage)
                },
            });
        }

        function backToList() {
            location.href = "/giftList";
        }
    </script>

</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
            <%- include ('layoutBody') %>
            <!-- side bar end -->

            <!-- 페이지에 알맞게 수정 필요 시작 -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">선물 상세페이지</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE Gifts</li>
                        </ol>
                        <div class="card mb-4">
                            <!-- 내부 폼-->
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="giftName" class="col-sm-2 control-label">선물이름 : </label>
                                    <input type="input" class="form-control" id="giftName"
                                        style="width: 400px; display:inline" placeholder="선물이름" disabled>
                                </div>
                                <div class="form-group">
                                    <div class="form-group" id="imgFile">
                                        <label for="file" class="col-sm-2 control-label">이미지 파일 : </label>
                                        <!-- 이미지 파일 -->
                                    </div> 
                                </div>
                                <div class="form-group" id="targetArea">
                                    <label for="giftTarget" class="col-sm-2 control-label">선물타겟 : </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckboxAll" value="*"> 전체
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox1" value="1"> 부모님
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox2" value="2"> 친구
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox3" value="3"> 연인
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox4" value="4"> 선생님
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox5" value="5"> 교수님
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox6" value="6"> 직장선배
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox7" value="7"> 선후배
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="targetChk" id="giftTargetCheckbox8" value="8"> 구연인
                                        </label>
                                </div>

                                <div class="form-group">
                                    <label for="giftEvent" class="col-sm-2 control-label">선물목적 : </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckboxAll" value="*"> 전체 (하찮은 선물 X)
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox1" value="1"> 생일
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox2" value="2"> 연인기념일
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox3" value="3"> 결혼기념일
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox4" value="4"> 합격
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox5" value="5"> 입학
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox6" value="6"> 졸업
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox7" value="7"> 집들이
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox8" value="8"> 명절
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="eventChk" id="giftEventCheckbox9" value="9"> 하찮은 선물
                                    </label>              
                                </div>
                                <div class="form-group">
                                    <div class="radio">
                                        <label for="sex" class="col-sm-2 control-label">성별 : </label>
                                        <label>
                                            <input type="radio" name="sexRadios" id="sexRadiosAll"
                                                style="margin-right:5px;" value="*"> 전체
                                        </label>
                                        <label>
                                            <input type="radio" name="sexRadios" id="sexRadios1"
                                                style="margin-right:5px;" value="M"> 남
                                        </label>
                                        <label>
                                            <input type="radio" name="sexRadios" id="sexRadios2"
                                                style="margin-right:5px;" value="W"> 여
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="age" class="col-sm-2 control-label">연령대 : </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="ageChk" id="ageCheckboxAll" value="*"> 전체
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="ageChk" id="ageCheckbox1" value="20"> 20대
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="ageChk" id="ageCheckbox2" value="30"> 30대
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="ageChk" id="ageCheckbox3" value="40"> 40대
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="ageChk" id="ageCheckbox4" value="50"> 50대
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="ageChk" id="ageCheckbox5" value="60"> 60대
                                    </label>                  
                                </div>

                                <div class="form-group">
                                    <label for="expensive" class="col-sm-2 control-label">Expensive : </label>
                                    <div class="expensiveSelect" style="width:50%; display: inline-block;">
                                        <select name="expensive" id="expensive" data-mini="true">
                                            <option value="*">전체</option>
                                            <option value="T">True</option>
                                            <option value="F">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="personality" class="col-sm-2 control-label">Personality : </label>
                                    <div class="personalitySelect" style="width:50%; display: inline-block;">
                                        <select name="personality" id="personality" data-mini="true">
                                            <option value="*">전체</option>
                                            <option value="T">True</option>
                                            <option value="F">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="emotional" class="col-sm-2 control-label">Emotional : </label>
                                    <div class="emotionalSelect" style="width:50%; display: inline-block;">
                                        <select name="emotional" id="emotional" data-mini="true">
                                            <option value="*">전체</option>
                                            <option value="T">True</option>
                                            <option value="F">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="trendy" class="col-sm-2 control-label">Trendy : </label>
                                    <div class="trendySelect" style="width:50%; display: inline-block;">
                                        <select name="trendy" id="trendy" data-mini="true">
                                            <option value="*">전체</option>
                                            <option value="T">True</option>
                                            <option value="F">False</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div>
                                            <button type="button" class="btn btn-success" onclick="reviseInfo()"
                                                style="margin-right: 50px; margin-top: 30px; background-color: rgb(32, 92, 4);border-color: rgb(32, 92, 4);">수정하기</button>
                                            <button type="button" class="btn btn-warning" onclick="backToList()"
                                                style="margin-top: 30px">취소하기</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
                <!-- 페이지에 알맞게 수정 필요 끝 -->
</body>

<footer>
    <%- include ('layoutFooter') %>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../public/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../public/assets/demo/chart-area-demo.js"></script>
<script src="../public/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="../public/js/datatables-simple-demo.js"></script>

</html>