<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('common') %>
        <title>비밀번호 찾기</title>
        <script src="../public/js/initializePassword.js"></script>

        <style>
            label {
                font-family: "Noto Sans KR", sans-serif;
            }

            .btn {
                font-weight: 600;
            }

            .form-horizontal {
                display: block;
                margin: auto;
            }

            .form-group {
                margin-bottom: 20px;
            }

            .checkbox-inline {
                margin-right: 20px;
            }

            .col-sm-2 {
                font-weight: bold;
                white-space: nowrap;
                margin: 10px 30px 10px 0px;
            }
        </style>
</head>

<body style="background-color: rgb(255, 236, 199)">
    <img src="../public/assets/img/UI_brand.png" style="padding-left: 93px; padding-top: 37px" />
    <form class="form-horizontal" style="padding-left: 81px; padding-right: 31px; margin-top: 31px">
        <div class="form-group">
            <label for="adminName" class="col-sm-2 control-label" style="margin-right: 31px">직급 :
            </label>
            <input type="radio" name="titleRadios" style="margin-right: 10px; cursor: pointer" value="master" />Master
            <input type="radio" name="titleRadios" style="margin-right: 10px; cursor: pointer" value="senior" />Senior
            <input type="radio" name="titleRadios" style="margin-right: 10px; cursor: pointer" value="junior" />Junior
            <input type="radio" name="titleRadios" style="margin-right: 10px; cursor: pointer" value="guest" />Guest
        </div>
        <div class="form-group">
            <label for="adminName" class="col-sm-2 control-label">이름 :
            </label>
            <input type="input" class="form-control" id="adminName" style="width: 300px; display: inline"
                placeholder="이름을 입력해주세요" />
        </div>
        <div class="form-group">
            <label for="adminNickname" class="col-sm-2 control-label" style="margin-right: 15px">아이디 :
            </label>
            <input type="input" class="form-control" id="adminNickname" style="width: 300px; display: inline"
                placeholder="아이디를 입력해주세요" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="padding-left: 41px">
                <div>
                    <button type="button" class="btn btn-success" onclick="initializePassword()" style="
                                margin-right: 50px;
                                margin-top: 30px;
                                background-color: rgb(32, 92, 4);
                                border-color: rgb(32, 92, 4);
                            ">
                        비밀번호 초기화
                    </button>
                    <button type="button" class="btn btn-warning" onclick="closeWindow()" style="margin-top: 30px">
                        취소하기
                    </button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>