<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include ('common') %>
        <title>Menus - Sasohae Admin</title>
        <script src="../public/js/menuInsert.js"></script>
        <style>
            label {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .btn {
                font-weight: 600;
            }

            .form-horizontal {
                display: block;
                margin: auto;
            }

            .form-group {
                margin-bottom: 20px;
                width: 700px;
            }

            .menu-group {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .checkbox-inline {
                margin-right: 20px;
            }

            .col-sm-2 {
                font-weight: bold;
                white-space: nowrap;
                margin: 10px 30px 0px 0px;
            }
        </style>

</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">메뉴 등록</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE MENUS</li>
                        </ol>
                        <div class="card mb-4">
                            <form class="form-horizontal" id="uploadForm">
                                <div class="menu-group">
                                    <div class="form-group">
                                        <label for="menuName" class="col-sm-2 control-label">메뉴이름 : </label>
                                        <input type="input" class="form-control" id="menuName"
                                            style="width: 400px; display:inline" placeholder="메뉴이름">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="imgFile" class="col-sm-2 control-label">이미지 파일 : </label>
                                            <label for="exampleInputFile">파일 업로드</label>
                                            <input type="file" id="image">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="menuType" class="col-sm-2 control-label">Menu Type : </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuType" id="menuTypeCheckAll"
                                                onclick="IsCheckAllChecked(this.name)" value="*"> 전체
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuType" id="menuTypeCheckbox1" value="1"
                                                onclick="chkboxAllChecked(this.name)"> 식사
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuType" id="menuTypeCheckbox2" value="2"
                                                onclick="chkboxAllChecked(this.name)"> 요리
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuType" id="menuTypeCheckbox3" value="3"
                                                onclick="chkboxAllChecked(this.name)"> 간식
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="menuStyle" class="col-sm-2 control-label">Menu Style : </label>
                                        <div class="menuStyleSelect" style="width:50%; display: inline-block;">
                                            <select name="menuStyle" id="menuStyle" data-mini="true">
                                                <option value="*">전체</option>
                                                <option value="1">한식</option>
                                                <option value="2">중식</option>
                                                <option value="3">일식</option>
                                                <option value="4">양식</option>
                                                <option value="5">아시안</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="menuWith" class="col-sm-2 control-label">Menu With : </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuWith" id="menuWithCheckboxAll" value="*"
                                                onclick="IsCheckAllChecked(this.name)"> 전체
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuWith" id="menuWithCheckbox1" value="1"
                                                onclick="chkboxAllChecked(this.name)"> 혼밥
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuWith" id="menuWithCheckbox2" value="2"
                                                onclick="chkboxAllChecked(this.name)"> 친구
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuWith" id="menuWithCheckbox3" value="3"
                                                onclick="chkboxAllChecked(this.name)"> 연인
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuWith" id="menuWithCheckbox4" value="4"
                                                onclick="chkboxAllChecked(this.name)"> 가족
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="menuWith" id="menuWithCheckbox5" value="5"
                                                onclick="chkboxAllChecked(this.name)"> 모임
                                        </label>

                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div>
                                                <button type="button" class="btn btn-success" onclick="insertInfo()"
                                                    style="margin-right: 50px; margin-top: 30px; background-color: rgb(32, 92, 4);border-color: rgb(32, 92, 4);">등록하기</button>
                                                <button type="button" class="btn btn-warning" onclick="goToList()"
                                                    style="margin-top: 30px">취소하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
</body>
<%- include ('layoutFooter') %>

</html>