<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MoneyQuestions - Sasohae Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="../public/css/styles.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>

    <!--  jquery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        body,
        button,
        input,
        textarea {
            font-family: 'Noto Sans KR', sans-serif;
        }

        td {
            font-size: medium;
        }

        .add {
            color: green !important;
        }

        .delete {
            color: red !important;
        }

        .button.add {
            background-color: green;
            border-color: transparent;
            color: #fff !important;
            display: inline-block;
            margin-left: auto;
            margin-top: 20px;
            margin-right: 20px;
            width: 200px;
            border-radius: inherit;
        }

        .button.add.is-outlined {
            background-color: transparent;
            border-color: orange;
            color: orange !important;
        }

        .card-body {
            text-align: center;
        }

        .dataTable-sorter {
            text-align: center;
            font-size: medium;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            getMoneyQuestionList();
        });

        function getMoneyQuestionList() {
            $("#moneyQuestionList").empty()
            $.ajax({
                type: "GET",
                url: "/api/moneyQuestions",
                data: {},
                success: function (response) {
                    console.log(response)
                    for (let i = 0; i < response.length; i++) {
                        makeTable(response[i])
                    }
                }
            })
        }

        function makeTable(info) {
            let htmlTemp = `<tr>
                                <td>${info["moneyQuestion_id"]}</td>
                                <td>${info["moneyQuestion"]}</td>
                                <td>${info["positiveAnswerQuestion"]}</td>
                                <td>${info["negativeAnswerQuestion"]}</td>
                                <td>${info["positiveChangeValue"]}</td>
                                <td style="cursor:pointer;" onclick="location.href='/moneyQuestions/${info["moneyQuestion_id"]}'">상세</td>
                                <td><input type="button" onClick="deleteItem(${info["moneyQuestion_id"]})"
                                        class="btn btn-outline-primary" value="삭제"></td>
                            </tr>
                            `
            $("#moneyQuestionList").append(htmlTemp)
        }

        function moveToInsert() {
            location.href = "moneyQuestionsInsert";
        }

        function deleteItem(id) {
            let moneyQuestion_id = id;
            console.log(moneyQuestion_id)
            if (confirm("정말로 삭제하시겠습니까?") == true) {
            } else {
                return false;
            }
            $.ajax({
                type: "DELETE",
                url: `/api/moneyQuestions/${moneyQuestion_id}`,
                data: {},
                success: function (response) {
                        alert("삭제 완료!");
                        location.href = location.href
                        history.go(0);
                }
            });
        }
    </script>

</head>

<body class="sb-nav-fixed">
    <%- include('layoutHeader') %>
        <!-- side bar start -->
        <div id="layoutSidenav"></div>
        <%- include ('layoutBody') %>
            <!-- side bar end -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">축의금 질문 관리 페이지</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SASOHAE MONEY QUESTIONS</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                축의금 질문 리스트
                            </div>
                            <button class="level-item button add" onclick="moveToInsert()"
                                style="background-color: rgb(32, 92, 4);border-color: rgb(32, 92, 4);">등록하기</button>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>질문</th>
                                            <th>긍정답변 다음질문</th>
                                            <th>부정답변 다음질문</th>
                                            <th>긍정답변 변화값</th>
                                            <th>상세</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>

                                    <tbody id="moneyQuestionList">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
</body>

<footer>

    <%- include ('layoutFooter') %>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="../public/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../public/assets/demo/chart-area-demo.js"></script>
<script src="../public/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="../public/js/datatables-simple-demo.js"></script>

</html>